body{
    background-color: black;
    color: whitesmoke;
    font-family: Arial, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
button{
    width:90px;
    height: 40px;
}